div, main, header, nav, article, footer{    
    border: solid 1px black;
    padding: 10px;
}


.page-footer{
    margin: 0px; 
    background-color: #000000;
    color: #ffffff;

}

.nav-box{
    background-color: aquamarine;
    border-radius: 10px;
}

.nav-box li{

    display: inline;
    list-style-type: none;
}

.loremintro{

    color:aqua;
}

.logo-image{
    max-width: 200px;

}

article img{
    width: 50%;
}

.innholdsboks{
    display: flex;
    background-color: cadetblue;
}


main{

}
header{
    
}

nav{
    
}

article{
    
}

footer{
    
}
